<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a routerLink="/exercices">Exercices</a></li>
        <li><a routerLink="/workouts">Workouts</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl" routerLink="/">Friendsness</a>
  </div>
  <div class="navbar-center hidden lg:flex" *ngIf="isLogged">
    <ul class="menu menu-horizontal p-0">
      <li tabindex="0">
        <a routerLink="/exercices" class="mr-2">Exercices</a>
      </li>
      <li><a routerLink="/workouts">Routines</a></li>
    </ul>
  </div>
  <div class="navbar-end mx-3" *ngIf="!isLogged; else toolbarEndLogged">
    <a class="btn btn-sm btn-primary mx-3" routerLink="/auth/login">Login</a>
    <a class="btn btn-sm btn-secondary" routerLink="/auth/register">Sign Up</a>
  </div>
</div>

<ng-template #toolbarEndLogged>
  <div class="navbar-end mx-3">
    <a class="mx-3" routerLink="/profile">{{ getUser.name | titlecase }}</a>
    <a class="btn btn-sm btn-primary ml-3" (click)="logout()">Logout</a>
  </div>
</ng-template>
