<div
  class="container mx-auto"
  *ngIf="myExercices !== undefined; else loadingView"
>
  <div class="my-3">
    <div class="flex justify-between">
      <h1 class="text-3xl">My Exercices</h1>
      <div>
        <label for="my-modal-3" class="btn btn-sm modal-button btn-primary"
          >Add</label
        >
      </div>
    </div>

    <div class="my-10 text-center" *ngIf="myExercices.length === 0">
      <p class="text-md">No exercices added</p>
    </div>
    <div>
      <div class="flex justify-between my-7">
        <div
          class="card border border-gray-500 dark:border-gray-700 w-96 bg-base-100"
          *ngFor="let userExercice of myExercices"
        >
          <div class="card-body">
            <h2 class="card-title">{{ userExercice.exercice.name }}</h2>
            <div class="card-actions justify-end">
              <button class="btn btn-sm btn-primary">Add Set</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
    <div class="flex justify-between p-2 py-5">
      <app-exercices-search-input (onEnter)="getExercices($event)"></app-exercices-search-input>
      <div>
        <select class="select bg-slate-700 rounded-md p-2 select-bordered mr-5 text-gray-300 h-full">
          <option selected>All</option>
          <option *ngFor="let exerciceBodyPart of exercicesBodyParts">
            {{ exerciceBodyPart }}
          </option>
        </select>
        <select class="select bg-slate-700 rounded-md p-2 select-bordered text-gray-300 h-full">
          <option disabled selected>Who shot first?</option>
          <option>Han Solo</option>
          <option>Greedo</option>
        </select>
      </div>
    </div>
    <div class="flex justify-center flex-wrap" *ngIf="exercices.length > 0; else noDataView">
      <div class="flex-auto p-2" *ngFor="let exercice of exercices">
        <app-exercice-card-item [exercice]="exercice"></app-exercice-card-item>
      </div>
    </div>
    <ng-template #noDataView>
      <h4 class="text-center mt-10">No data found</h4>
    </ng-template>
  </div> -->
</div>

<ng-template #loadingView>
  <div class="my-10">
    <app-loading></app-loading>
  </div>
</ng-template>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2"
      >✕</label
    >
    <h3 class="text-lg font-bold">Add Exercice</h3>
    <p class="py-4">
      You've been selected for a chance to get one year of subscription to use
      Wikipedia for free!
    </p>
  </div>
</div>
