<div class="max-w-2xl mx-auto flex justify-center items-center my-20">
  <div
    class="bg-gray-700 shadow-md border border-gray-800 rounded-lg max-w-sm p-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700 w-full">
    <div
      class="alert alert-error shadow-lg my-4"
      *ngIf="errorMessage !== undefined">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ errorMessage }}</span>
      </div>
    </div>
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="login()">
      <h3 class="text-xl font-medium text-gray-900 dark:text-white">
        Sign in to our platform
      </h3>
      <div>
        <label
          for="email"
          class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300"
          >Your username</label
        >
        <input
          type="text"
          name="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          formControlName="email"
          placeholder="phil"
          required="" />
      </div>
      <div>
        <label
          for="password"
          class="text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300"
          >Your password</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="••••••••"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required="" />
      </div>
      <div class="flex items-start">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input
              id="remember"
              aria-describedby="remember"
              type="checkbox"
              class="bg-gray-50 border border-gray-300 focus:ring-3 focus:ring-blue-300 h-4 w-4 rounded dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
              required="" />
          </div>
          <div class="text-sm ml-3">
            <label
              for="remember"
              class="font-medium text-gray-900 dark:text-gray-300"
              >Remember me</label
            >
          </div>
        </div>
        <!-- <a href="#" class="text-sm text-blue-700 hover:underline ml-auto dark:text-blue-500">Lost
								Password?</a> -->
      </div>
      <button
        type="submit"
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <!-- [disabled]="loginForm.invalid" -->
        Login to your account
      </button>
      <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
        Not registered?
        <a
          routerLink="/auth/register"
          href="#"
          class="text-blue-700 hover:underline dark:text-blue-500"
          >Create account</a
        >
      </div>
    </form>
  </div>
</div>
