<!-- <form (ngSubmit)="register()"> -->
<!-- <div class="form-control">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input
      type="text"
      name="email"
      [(ngModel)]="email"
    />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input
      type="text"
      name="password"
    />
    <label class="label">
      <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
    </label>
  </div>
  <div class="form-control mt-6">
    <button type="submit" class="btn btn-primary">Register</button>
  </div> -->
<!-- </form> -->

<form>
    <input
        type="text"
        placeholder="Nombre"
        name="nombre"
        [(ngModel)]="name"
    />
    <!-- [value]="nuevo.nombre"
        (input)="cambiarNombre( $event )" -->

    <button type="submit">
        Agregar
    </button>

</form>
